<div class="hero-unit">
	<h1>Welcome to my first rails app!</h1>
		<p>
			My home page.
			Created by Sami Rahman
			<%= link_to "Sami Rahman", "http://www.samirahman.com" %>
		</p>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-primary" %>
			
		</p>
</div>